{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
	Instructions
{% endblock %}

{% block content %}

<p>
	Welcome and thank you for participating in the experiment.
</p>

<p>
	Please read the following instructions carefully and raise your hand if you have any questions.
</p>

	{% if player.treatment == "public" %}
	This experiment consists of two parts which are described below.
	<p>&nbsp;</p>

	<strong> Part I </strong>

	{% endif %}

	<p>&nbsp;</p>
<p>
	At the start of this experiment, all players are endowed with {{ Constants.endowment }}.
</p>

<p> 
	In the beginning, all players are randomized into groups of three.
	Within each group you will be assigned one of three colors (red, blue, green).
	This means that each group consists of one red player, one blue player and one green player. You will learn which color you are in the course of this experiment.
</p>

<p>
	The red player of each group will choose one of 6 possible options which change the payoffs of the players in his/her group. The table summarizing the payoff changes is displayed below. All players in this experiment see the same table.
	<p>&nbsp;</p>
	Blue and green players are asked to indicate which allocation they would like red to choose. Their decision, however,
	does not affect their payoffs. Only the decision of the red player determines the payoffs of the members of each group. <br>
	There is only one round in the experiment. Therefore, every participant makes <strong> only one </strong> decision.
</p>

<p>
	We imagine that it may be difficult for red to decide what s/he ought to do in this situation. <br>
	Prior to this experiment we therefore asked a group of other students to formulate an advice for the red player. This advice will be displayed to all players on the page which asks for their decision. The advice is the same for all players (i.e. all groups) in this experiment.

</p>

<p>
	If a red player does not make a decision, the advice will be implemented. <br> 
	However, please note that <strong> no player </strong> gets his/her payoff without making a decision. That means, independent of your color you <strong> must </strong> indicate your favored option in order to get paid at the end of the experiment.
</p>

<p>&nbsp;</p>

	{% if player.treatment == "public" %}
<p>
    <strong> Part II </strong> <br>
    <br>
    After all players took their decision, the <strong> red </strong> players of each group have to stand up one after another, say their group number and their decision. All other participants in this room will see the decisions of the red players of each group on their screens sequentially.

</p>
	{% elif player.treatment == "private" %}
<p>
    Your role and decision in the experiment will remain private.
</p>

	{% endif %}

<p>
	At the end, there will be a short questionnaire.
</p>

<p>
	On the next page, you will see an example.
</p>

<p>
	Before clicking next, please make sure that you understood the instructions. If you have any questions, raise you hand.
</p>

	{% include 'social_norms/Table.html' %}
	
	{% next_button %}

{% endblock %}
