{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
	Questionnaire
{% endblock %}

{% block content %}
<p>
	Finally, this is a short questionnaire before the experiment ends. Please fill in all the fields.
</p>
	
	<p>&nbsp;</p>
	{% formfield player.age %}
	<p>&nbsp;</p>
	{% formfield player.gender %}
	<p>&nbsp;</p>
	{% formfield player.studies %}
	{% formfield player.studies2 %}
	<p>&nbsp;</p>
	{% formfield player.risk %}
	<p>&nbsp;</p>
	{% formfield player.country %}
	<p>&nbsp;</p>
	
	{% next_button %}

{% endblock %}
