{% load otree_tags staticfiles %}

<div class="instructions well well-lg">


<table style="height: 130px; margin-left: auto; margin-right: auto;" border="2" width="587"><caption>
<p>Payoff changes</p>
</caption>
<tbody>
<tr>
<td style="width: 76px;"><strong>Choice</strong></td>
<td style="width: 76px; text-align: center;"><strong>A</strong></td>
<td style="width: 76px; text-align: center;"><strong>B</strong></td>
<td style="width: 77.3333px; text-align: center;"><strong>C</strong></td>
<td style="width: 77.3333px; text-align: center;"><strong>D</strong></td>
<td style="width: 78px; text-align: center;"><strong>E</strong></td>
<td style="width: 78px; text-align: center;"><strong>F</strong></td>
</tr>
<tr>
<td style="width: 76px;"><strong>Red</strong></td>
<td style="width: 76px; text-align: center;">4</td>
<td style="width: 76px; text-align: center;">2</td>
<td style="width: 77.3333px; text-align: center;">0</td>
<td style="width: 77.3333px; text-align: center;">-2</td>
<td style="width: 78px; text-align: center;">-4</td>
<td style="width: 78px; text-align: center;">-6</td>
</tr>
<tr>
<td style="width: 76px;"><strong>Blue</strong></td>
<td style="width: 76px; text-align: center;">0</td>
<td style="width: 76px; text-align: center;">2</td>
<td style="width: 77.3333px; text-align: center;">4</td>
<td style="width: 77.3333px; text-align: center;">4</td>
<td style="width: 78px; text-align: center;">2</td>
<td style="width: 78px; text-align: center;">0</td>
</tr>
<tr>
<td style="width: 76px;"><strong>Green</strong></td>
<td style="width: 76px; text-align: center;">-8</td>
<td style="width: 76px; text-align: center;">-6</td>
<td style="width: 77.3333px; text-align: center;">-4</td>
<td style="width: 77.3333px; text-align: center;">-2</td>
<td style="width: 78px; text-align: center;">0</td>
<td style="width: 78px; text-align: center;">2</td>
</tr>
</tbody>
</table>
	
</div>
